# -------------------------
# APP CONFIG
# -------------------------
APP_ENV=local
APP_PORT=8000
APP_URL=http://localhost:3000
APP_FRONTEND_URL= http://localhost:8000

# -------------------------
# DATABASE CONFIG
# -------------------------
DB_HOST=localhost
DB_PORT=8889
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=stk_database

# -------------------------
# UPLOAD PATH
# -------------------------
UPLOAD_PATH=./uploads

# -------------------------
# JWT TOKEN
# -------------------------
JWT_ACCESS_SECRET=some_long_random_secret
JWT_REFRESH_SECRET=another_long_random_secret
JWT_ACCESS_EXPIRATION=900s        # 15 minutes
JWT_REFRESH_EXPIRATION=30d       # 30 days

# -------------------------
# GOOGLE OAUTH 2 CONFIG
# -------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# -------------------------
# SPTP CONFIG
# -------------------------
SMTP_USER=45436437564
SMTP_PASS=your_digit_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
JWT_VERIFICATION_SECRET=yourRandomTokenSecret